.Animal {
    position: absolute;
    width: 100px;
    height: 70px;
   
    transition: left 2s ease-out,top 2s ease-out ;

    &:hover {
        cursor: pointer;
    }

    &>*:nth-child(2) {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &::after {
        position: absolute;
        bottom: -5px;
        left: 0;
        content: "";
        width: 100%;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.248);
        border-radius: 50%;
        
    }

    .arrow {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-30%);
        fill: red;

        animation-name: arrowUpandDown;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
  
    }
}

.clicked {
    border: 2px solid red;
}

.minotaur {
    scale: 1.5;
}


@keyframes arrowUpandDown {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}