.game {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;



    &>h1 {
        -webkit-background-clip: text;
        background-clip: text;
        background-image: url(../../public/woodTexture.jpg);
        color: transparent;
        font-size: 5em;
        letter-spacing: 5px;
        font-family: var(--font-barrio);
        text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.103);
    }

    &>h2 {
        position: absolute;
        left: 1%;
        bottom: 0;
        font-size: 1.8em;
        color: white;
        text-align: center;

        &>* {
            transform: translateY(20%);
        }
    }

    .field {
        position: relative;
        width: 798px;
        height: 700px;
        background-image: url("../../public/arena.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
       

    button {
        text-align: center;
        color: white;
        background-color: #F80101;
        border-radius: 20px;
        scale: .8;
        padding: 25px;
        font-size: 50px;
        // font-family: var(--font-tiny5);
        letter-spacing: 5px;
    }
    
}

.minotaur-count-section {
    background-color: rgba(0, 0, 0, 0.563);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 7%;
    font-size: 3em;
    color: white;
    border-radius: 20px;
    .minotaurIcon {
        height: 150px;
        width: 150px;
    }
}



@media screen and (max-height: 700px) {
    .game {
        height: 100%;

        &>h1 {
            font-size: 4em;
        }

        &>h2 {
            position: absolute;
            right: 0;
            color: white;
        }
    }

    button {
        position: absolute;
        left: 0;
        transform: translateX(50%);
        padding: 15px;
    }
}

